*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/reports
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore files
*.jks
/dist
/output
/tmp
/tmp_apk_check
/*.apk
/*.xml
/_repo.xml
/.serena
